.banner.banner_type_detalied
	.banner__background(style="background-image: url(./images/bg-slider.jpg)")
	.banner-wrap
		.banner-info
			.banner-info__title
				span.caption-16 Riverdale
				h1 Звёздные войны: Войны клонов
			.banner-info__genre.caption-18 фантастика / боевик / приключения
			.banner-info__rating.caption-18 КиноПоиск — <strong>8.1</strong> / IMDb — <strong>7.6</strong>
			.banner-info-buttons
				button.button.button_type_transparent.banner-info-buttons__trailer(data-modal-open="modal-trailer") Трейлер
				button.button.banner-info-buttons__link 
					i.icon-play
					| смотреть с 1 серии
		.banner-slider
			span.h2 кадры

			include slider.pug

		button.button.button_type_transparent.banner__button-trailer(data-modal-open="modal-trailer") Трейлер

include ../mixins/modal.pug
+modal("modal-trailer", "video")
	iframe(src="http://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" width="100%" height="100%")