header#header.header.container
	.header-wrap
		.header-logo
			a(href="/")
				img.logo(src="images/logo.svg", alt="Riverdale")

		nav.header-nav
			ul
				li
					a(href="/#about-serial") О сериале
				li.header-nav__season
					a(href="/category.html" class="text-center") Сезон
					.header-nav-submenu
						ul
							each season in [5, 4, 3, 2, 1]
								li.header-nav-submenu__item
									a(href="/category.html") #{season} сезон
				li.header-nav__schedule
					a(href="javascript:void(0);") Расписание
					.header-nav-submenu
						ul
							li.header-nav-submenu__item.header-nav-submenu__item_active
								div
									span cледующая: <br> 4 сезон 3 серия
									span 30 января
							li.header-nav-submenu__item
								div
									span 4 сезон 2 серия
									span 23 января
							li.header-nav-submenu__item
								div
									span 4 сезон 1 серия
									span 16 января

		.header-timer
			.header-timer__title до новой серии:
			.header-timer-wrap
				.header-timer-item
					.header-timer__count
						span 0
						span 5
					span дней
				.header-timer-item
					.header-timer__count
						span 2
						span 3
					span часов