.m-header-bar.container
	.m-header-bar-wrap
		nav.m-header-bar-nav
			ul
				li
					a(href="/") 
						i.icon-home
						span Главная
				li
					a(href="javascript:void(0);" data-roll-open="schedule") 
						i.icon-calendar
						span Расписание
				li
					a(href="/#about-serial") 
						i.icon-info
						span О сериале
				li
					a(href="javascript:void(0);" data-roll-open="select-season") 
						i.icon-count
						span Сезон

		.header-timer
			.header-timer__title до следующей:
			.header-timer-wrap
				.header-timer-item
					.header-timer__count
						span 0
						span 5
					span дней
				.header-timer-item
					.header-timer__count
						span 2
						span 3
					span часов

include ../mixins/base-roll.pug
+roll("schedule", 'Расписание', "to-top")
	include ../includes/roll/mobile-schedule.pug

+roll("select-season", 'Выбор сезона', "to-top")
	include ../includes/roll/mobile-select-season.pug