nav.pagination.swiper-container
	.pagination__elements.swiper-wrapper
		.pagination__item.swiper-slide.checked 
			a(href="javascript:void(0);") 1
		each i in [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
			.pagination__item.swiper-slide 
				a(href="javascript:void(0);") #{i}