.player
	.player-wrap
		.iframe
		.player__episode-release дата выхода серии: 12 марта 2020
	nav.player-nav
		a.player-nav__prev(href="/episode.html")
			i.icon-prev
			| предыдущая
		a.player-nav__all-episodes(href="/category.html")
			i.icon-all-series
			| все серии
		a.player-nav__next(href="/episode.html")
			| следующая
			i.icon-next

