.rating
	.rating__title Рейтинг:
	.rating-wrap
		.rating__star.rating__star_checked
			a(href="javascript:void(0);")
				i.icon-star
		-for (var x = 0; x < 4; x++)
			.rating__star
				a(href="javascript:void(0);")
					i.icon-star
