.select-episodes
	.select-wrap
		select
			option(value="14") 14 сезон
			option(value="13") 13 сезон
			option(value="12") 12 сезон
			option(value="11") 11 сезон
			option(value="10") 10 сезон
	.select-wrap
		select
			option(value="") выбрать серию
			option(value="1") 1 серия
			option(value="2") 2 серия
			option(value="3") 3 серия
			option(value="4") 4 серия