#preview-slider.custom-slider-container
	button.custom-slider__button-prev.button-arrow.button-arrow_dir_prev.icon-chevron-left
	.custom-slider__wrapper
		.custom-slider__slide
			img(src="./images/custom-slider__slide-1.jpg", alt="")
		.custom-slider__slide
			img(src="./images/custom-slider__slide-2.jpg", alt="")
		.custom-slider__slide
			img(src="./images/custom-slider__slide-3.jpg", alt="")
	button.custom-slider__button-next.button-arrow.button-arrow_dir_next.icon-chevron-right

include ../mixins/modal.pug
+modal('modal-gallery', 'gallery')
	.swiper-container
		.swiper-wrapper
			//- сюда слайды через скрипт добавятся
		button.swiper-button-prev.button-arrow.button-arrow_dir_prev.icon-chevron-left
		button.swiper-button-next.button-arrow.button-arrow_dir_next.icon-chevron-right