.about
	.about-left
		include ../mixins/short-about-serial.pug
		+short-about()
	.about-right
		.about__characteristic
			span.caption-16 Слоган
			span «A Great Place to Get Away With It All»
		.about__characteristic
			span.caption-16 Актеры
			span Педро Паскаль, Карл Уэзерс, Рио Хекфорд, Джина Карано, Вернер Херцог, Ник ...
		.about__characteristic
			span.caption-16 Режиссер
			span Дебора Чоу, Рик Фамуйива, Дэйв Филони
		.about__characteristic
			span.caption-16 Сценарий
			span Джон Фавро, Джордж Лукас, Рик Фамуйива
		.about__characteristic
			span.caption-16 Оператор
			span Барри Баз Идойн, Грег Фрейзер
		.about__characteristic
			span.caption-16 Продюссер
			span Джон Бартники, Джон Фавро, Дэйв Филони
		.about__characteristic
			span.caption-16 Композитор
			span Людвиг Йоранссон
		.about__characteristic
			span.caption-16 Художник
			span Эндрю Л. Джонс, Джон Лорд Бут III, Сара Делуччи
		.about__characteristic
			span.caption-16 Монтаж
			span Джефф Сейбеник, Эндрю С. Эйзен, Дана И. Глауберман