h2 Что такое Riverdale и зачем его смотреть?
p 
	| <strong>«Riverdale»</strong> — американский молодежный сериал Грега Бернали, определивший тенденции в 
	| телевизионном кинематографе на годы вперед. Первая серия вышла 26 января 2017 года и 
	| резко вошла в один ряд с мастодонтами подросткового кинематографа, как Твин Пикс, 
	| Беверли-Хиллс — 90210 и Красные браслеты. Далее мы вам подробно расскажем почему стоит 
	| смотреть «Ривердейл» и чем он отличается от других сериальных хитов.
h3 Сюжет сериала «Мультсериал Звёздные войны: Войны клонов»
p
	| Многие критики и зрители отметили схожесть сериала с вышеописанными картинами. Новый 
	| учебный год ознаменовался смертью одного из учеников школы Джейсона Блоссома. Полиция, 
	| близкие и друзья не могут понять, кому это нужно. Никто не понимает, что могло произойти. 
	| Администрация школы старается сгладить удар от потери и продолжать школьные занятия в том 
	| же темпе, проводят мероприятия и прочие школьные формальности.
p 
	| На фоне этой трагедии случаются вполне бытовые проблемы школьников, встречающиеся у многих 
	| учащихся их возраста. Непонимания внутри коллектива, интимные отношения между учеником и 
	| учительницей, сложности адаптации новой ученицы. В тени этой бытовухи, не всегда можно 
	| заметить, какое зло скрывает город, и какая опасность может преследовать буквально за углом.
p 
	| В центре внимания находится Арчи (Арчибальд Эндрюс). У него есть обычные школьные друзья 
	| Джагхед Джонс, решающий написать роман об умершем мальчике, и его близкая подруга Бетти 
	| Купер, которая оказывается в него влюблена. Троица дружит с самого детства, но в силу 
	| обстоятельств их дружба становится менее крепкой. Между Бетти и Джонсом начинаются 
	| отношения, Арчи влюбляется в новую ученицу Веронику Лодж.
p 
	| Со временем обстоятельства начинают принимать мистический характер. События становятся 
	| стремительнее, назревает конфликт взглядов. В такой ситуации очень сложно понять, кто 
	| действительно на твоей стороне, а кто тебе враг.
p 
	| В сериале рассматриваются вечные проблемы подростков на фоне стремительного сюжета.
h3(style="margin-bottom:8px") Главные герои Мультсериала «Звёздные войны: Войны клонов»
img(src="images/description.jpg")
p 
	a(href="#archibald-endryus" data-tippy-img="images/popup-in-text.jpg") Арчибальд Эндрюс
	|  — обычный подросток, периодически вступающий в конфликты со сверстниками. 
	| После возвращения с летних каникул резко возмужал, привлекая двух симпатичных девушек из 
	| своего окружения. Кроме трагедии в школе, ему приходится определиться со своим будущем, 
	| какой род деятельности лучше выбрать. Именно вокруг него крутится основной сюжет сериала.
p 
	a(href="#dzhaghed-dzhons" data-tippy-img="images/popup-in-text.jpg") Джагхед Джонс
	|  — один из самых запоминающихся персонажей во всем сериале. После разрыва дружеских 
	| отношений с Арчи стал закрытым, практически ни с кем не общается. Является отождествлением 
	| фразы — трудный подросток, с депрессией и вечными стрессами. Является творческой 
	| личностью, любит писать рассказы и стихи. Имеет философский склад ума. Нередко, именно он 
	| является голосом разума.
p 
	a(href="#betti-kuper" data-tippy-img="images/popup-in-text.jpg") Бетти Купер
	|  — лучшая подруга Арчибальда. В отличие от своих друзей, является примерной 
	| ученицей и идеальным ребенком. Ее мать работает в городской газете и возлагает на свою дочь 
	| большие надежны, что совершенно не нравится Бетти. Влюблена в Арчи, не раз пыталась ему 
	| признаться. Чтобы немного избавиться от своего образа идеального подростка, начинает 
	| дружить с новой школьной красавицей Вероникой.
p 
	a(href="#elis-kuper" data-tippy-img="images/popup-in-text.jpg") Элис Купер
	|  — мать Бетти. Редактор местной газеты. Создатели сериала описывают ее двумя 
	| словами — суровый перфекционист. Она возлагает огромные надежны на свою дочь и не 
	| принимает, когда та отказывается выполнять домашнее задание.
p 
	a(href="#kevin-keller" data-tippy-img="images/popup-in-text.jpg") Кевин Келлер
	|  — лучший друг Бетти, по совместительству сын шерифа. Его отец и мать 
	| относятся к военным, от чего в семье царит дисциплина. Неконфликтный персонаж и дружит 
	| практически со всеми учениками старшей школы.
p 
	a(href="#fred-endryus" data-tippy-img="images/popup-in-text.jpg") Фред Эндрюс
	|  — отец Арчибальда, является владельцем небольшой строительной компании. 
	| Его главная мечта, чтобы его сын стал его приемником. В первых же сериях возникает 
	| конфликт интересов, потому что сын не согласен с мнением отца и не желает перенимать 
	| его фирму в дальнейшем.
p 
	a(href="#sheril-blossom" data-tippy-img="images/popup-in-text.jpg") Шерил Блоссом
	|  — сестра погибшего ученика. По природе является лидером, всегда 
	| отстаивает свою точку зрения и старается сделать так, чтобы другие ее так же приняли. 
	| Властная и агрессивная, пойдет на все, чтобы добиться своей цели. На протяжении первого 
	| сезона выясняет обстоятельства, при которых погиб ее брат. На протяжении всего сериала 
	| значительно меняет свой характер и отношение к окружающим.