.banner {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px 27px 32px 35px;
	position: relative;

	@include mq("xl") {
		padding: 0;
		margin-top: 27px;
		margin-bottom: 16px;
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		&:hover .button-arrow {
			border-color: $color-primary;
			color: $color-primary;
		}
	}

	.banner__background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
		opacity: 0.2;

		@include mq("xl") {
			display: none;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.4;
			background-image: linear-gradient(to right, #000 0%, transparent 103.22%);;
		}
	}

	.banner-wrap {
		@include flex;
		@include flex-wrap;

		@include mq("xl") {
			@include flex-direction;
		}
	}

	.banner-info {
		padding-top: 45px;
		flex-basis: 300px;

		&__title {
			margin-bottom: 40px;

			span {
				display: inline-block;
				margin-bottom: 6px;
			}
		}

		&__genre {
			margin-bottom: 8px;
		}

		&-buttons {
			@include flex;
			@include justify-content(space-between);
			margin-top: 29px;

			&__trailer {
				min-width: 105px;
			}
		}

		@include mq("xl") {
			flex-basis: auto;
			margin-bottom: 14px;
			padding-top: 0;

			&__title {
				@include flex;
				@include flex-direction(column-reverse);
				@include align-items;
				text-align: center;
				margin-bottom: 12px;
				line-height: 1;
			}

			&__genre {
				font-size: 13px;
				text-align: center;
				margin-bottom: 0;
			}

			&__rating {
				display: none;
			}

			&-buttons {
				display: none;
			}
		}
	}

	.banner-slider {
		flex-grow: 1;
		position: relative;
		margin-left: 35px;

		& > span {
			display: inline-block;
			transform: rotate(-90deg);
			transform-origin: top left;
			z-index: 4;
			position: absolute;
			top: 32%;
			left: -23px;
			pointer-events: none;
		}

		@include mq("xl") {
			margin-left: 0;

			& > span {
				display: none;
			}
		}
	}

	.banner__button-trailer {
		display: none;
		margin-top: 16px;

		@include mq("xl") {
			display: block;
		}
	}
}