.breadcrumbs {
	background-color: #0f0f0f;
	padding: 14px 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			display: inline;

			span {
				font-size: 16px;
				color: $color-dark-gray;
			}

			a {
				color: #4f4f4f;
				font-size: 16px;
			}

			&:not(:last-child) {
				padding-right: 15px;

				&::before {
					position: absolute;
					top: 0;
					right: 4px;
					content: "/";
					color: #4f4f4f;
				}
			}
		}
	}
}