.button {
	@include rounded;
	@include transition-active;
	@include flex-center;
	cursor: pointer;
	padding: 10px 13px 5px 13px;
	background-color: $color-primary;
	color: $color-main-bg;
	border: 1px solid $color-primary;
	position: relative;
	outline: none;
	overflow: hidden;
	user-select: none;
	text-transform: uppercase;
	font-family: $bebas-font;
	line-height: 1;
	letter-spacing: 0.06em;
	font-size: 18px;

	&:disabled, &.button_disabled {
		pointer-events: none;
		cursor: default;
		opacity: .5;
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		@include transition-hover;

		&:not(:disabled):not(.button_disabled):hover {
			background-color: $color-main-bg;
			color: $color-primary;
		}
	}

	&:not(:disabled):not(.button_disabled):active {
		background-color: $color-main-bg;
		color: $color-primary;
	}

	// кнопка с иконкой
	i[class*="icon"] {
		font-size: 14px;
		margin-right: 6px;
		position: relative;
		top: -2px;
	}

	span {
		margin-left: 10px;
	}

	// кнопки с границами
	&.button_type_transparent {
		background-color: transparent;
		border: 1px solid $color-primary;
		color: $color-primary;

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:not(:disabled):not(.button_disabled):hover {
				background-color: $color-primary;
				color: $color-main-bg;
			}
		}

		&:not(:disabled):not(.button_disabled):active {
			background-color: $color-primary;
			color: $color-main-bg;
		}

		&.button_color_gray {
			border-color: #c4c4c4;
			color: #c4c4c4;
	
			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&:not(:disabled):not(.button_disabled):hover {
					background-color: transparent;
					border-color: $color-primary;
					color: $color-primary;
				}
			}

			&:not(:disabled):not(.button_disabled):active {
				background-color: transparent;
				border-color: $color-primary;
				color: $color-primary;
			}
		}
	}

	&-arrow {
		@include transition-hover;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 3;
		width: 34px;
		height: 56px;
		background-color: #181818;
		border: 1px solid transparent;
		font-size: 15px;
		color: $color-text;
		outline: none;
		cursor: pointer;

		&::before {
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		@include mq("md") {
			width: 18px;
			height: 32px;
			font-size: 8px;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			@include transition-hover;

			&:hover {
				color: $color-primary;
				border-color: $color-primary;
			}
		}
	
		&:active {
			color: $color-primary;
			border-color: $color-primary;
		}

		&_dir_prev {
			left: 0;
		}

		&_dir_next {
			right: 0;
		}
	}

	&.button_full_width {
		width: 100%;
	}
}

.button-link {
	@include transition-active;
	@include flex-center;
	cursor: pointer;
	padding: 10px 20px;
	background-color: none;
	color: $color-text;
	border: none;
	position: relative;
	outline: none;
	overflow: hidden;
	user-select: none;

	&:disabled, &.button-link_disabled {
		pointer-events: none;
		cursor: default;
		opacity: .5;
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		@include transition-hover;

		&:not(:disabled):not(.button-link_disabled):hover {
			color: $color-primary;
		}
	}

	&:not(:disabled):not(.button-link_disabled):active {
		color: $color-primary;
	}
}