.catalog {
	margin-top: 32px;
	margin-bottom: 40px;

	@include mq("md") {
		margin-top: 12px;
	}

	.catalog-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px 20px;
		padding: 0;
		list-style: none;

		@include mq("md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq("sm") {
			grid-gap: 24px 20px;
			grid-template-columns: 1fr;
		}

		&.catalog-list_short-items {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 25px 20px;

			@include mq("xl") {
				grid-template-columns: repeat(3, 1fr);
			}
	
			@include mq("md") {
				grid-gap: 14px 10px;
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	.catalog-full-item {
		a {
			display: grid;

			@include mq("sm") {
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 10px;
			}
		}

		&__preview-label {
			position: absolute;
			top: 11px;
			left: -6px;
			padding: 2px 7px;
			color: #181818;
			background-color: $color-primary;
			text-transform: lowercase;
			font-size: 14px;
			line-height: 1.3;
			user-select: none;
			border-radius: 1px;
		}

		&__img {
			@include img-container(56.08%);

			img {
				@include transition-hover;
				opacity: .8;
			}

			i {
				@include transition-hover;
				color: $color-light-gray;
				font-size: 30px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-left: 1%;
				pointer-events: none;
				opacity: 0;

				@include mq("sm") {
					font-size: 18px;
					opacity: 1;
				}
			}
		}
	
		&__header {
			margin-top: 25px;

			@include mq("sm") {
				margin-top: 0;
				align-self: center;
			}
		}
	
		&__title {
			@include transition-hover;
			font-family: 'Open Sans', $pt-sans-font, sans-serif;
			font-weight: 600;
			font-size: 20px;
			line-height: 1.35;
			letter-spacing: normal;
			color: $color-title;

			@include mq("sm") {
				font-size: 14px;
			}
		}
	
		&__caption {
			font-family: $pt-sans-font;
			font-size: 16px;
			line-height: 1.3;
			color: #6e6e6e;

			@include mq("sm") {
				font-size: 13px;
			}
		}
	
		&__text {
			margin-top: 8px;
			color: $color-text;

			@include mq("sm") {
				grid-column: 1 / 3;

				p {
					font-size: 15px;
				}
			}
		}
	}

	.catalog-short-item {
		&__preview-label {
			position: absolute;
			top: 11px;
			left: -6px;
			padding: 2px 7px;
			color: #181818;
			background-color: $color-primary;
			text-transform: lowercase;
			font-size: 14px;
			line-height: 1.3;
			user-select: none;
			border-radius: 1px;
		}

		&__img {
			@include img-container(56.08%);

			img {
				opacity: .9;
				@include transition-hover;
			}
		}
	
		&__header {
			@include flex;
			@include align-items;
			@include transition-hover;
			position: absolute;
			bottom: 0;
			left: 0; 
			right: 0;
			padding: 26px 14px 13px 14px;
			color: #fff;
			background: linear-gradient(180deg, transparent 22%, rgba(26, 26, 26, 0.5) 45%, #1a1a1a 100%);

			@include mq("md") {
				background: linear-gradient(360deg, #000 4%, rgba(26, 26, 26, 0.249298) 76%, transparent 88%);
				padding: 13px 8px 7px 8px;
			}

			i {
				font-size: 13px;
				margin-right: 9px;

				@include mq("md") {
					font-size: 10px;
				}
			}
		}
	
		&__title {
			@include transition-hover;
			font-family: $pt-sans-font;
			font-weight: 400;
			font-size: 18px;
			letter-spacing: 0;
			color: #fff;

			@include mq("md") {
				font-size: 13px;
			}
		}
	}

	a {
		display: block;
		position: relative;
		text-decoration: none !important;

		&:hover {
			.catalog-full-item {
				&__img {
					img {
						opacity: 1;

						@include mq("sm") {
							transform: translate(-50%, -50%) scale(1.1);
						}
					}

					i {
						opacity: 1;
					}
				}

				&__header {
					h4 {
						color: $color-primary;
					}
				}
			}

			.catalog-short-item {
				&__img img {
					opacity: 1;
					transform: translate(-50%, -50%) scale(1.1);
				}

				&__header {
					color: $color-primary;

					h4 {
						color: $color-primary;
					}
				}
			}
		}
	}

	.catalog__show-all {
		width: 100%;
		margin-top: 30px;

		button {
			margin: 0 auto;
			width: 100%;
			max-width: 340px;
		}
	}
}