.custom-slider {
	&-container {
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	&__wrapper {
		display: flex;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: .25s;
		perspective: 500px;
		text-align: center;
		transform: translate3d(0, 0, 0);
		z-index: -1;
		will-change: transform;
		opacity: 0;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		&-prev,
		&-next {
			z-index: 1;
		}

		@include mq("md", "min") {
			&-next {
				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: "";
					background-color: rgba($color: #000, $alpha: 0.35);
				}

				& + div {
					z-index: 0;

					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						content: "";
						background-color: rgba($color: #000, $alpha: 0.6);
					}
				}
			}
		}

		&-active {
			z-index: 2;
		}
	}

	&__button-prev {
		display: none;

		&.button-arrow_dir_prev {
			right: 22.48%;

			@include mq("xl") {
				display: inline-block;
				top: 50%;
				left: 7%;
			}
		}
	}

	&__button-next {
		top: 45%;

		&.button-arrow_dir_next {
			right: 22.48%;

			@include mq("xl") {
				top: 50%;
				right: 7%;
			}
		}
	}
}