.footer {
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 35px;

	.footer-wrap {
		@include flex;
		@include justify-content(space-between);
		font-size: 16px;
		color: #c4c4c4;
	}

	.footer__email {
		color: #4f4f4f;
		a {
			color: #828282;
		}
	}

	@include mq("md") {
		padding-top: 20px;
		padding-bottom: 18px;

		.footer-wrap {
			@include flex-direction;
			@include align-items(center);
		}

		.footer__email {
			margin-top: 12px;
		}
	}
}