.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: $color-main-bg;
}

.header-wrap {
	@include flex;
	@include align-items; 
}

.header-logo {
	margin-right: 52px;

	a {
		img {
			@include transition-active;
		}

		&:hover img {
			transform: scale(1.02);
		}
	}
}

.header-nav {
	flex-grow: 1;

	ul {
		@include flex;
		list-style: none;
		padding: 0;
		margin: 0 -16px;

		li {
			@include transition-hover;

			a {
				@include transition-hover;
				display: block;
				position: relative;
				padding: 20px 16px;
				text-transform: lowercase;
				color: rgba($color: #fff, $alpha: 0.8);
				text-decoration: none !important;
			}

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&:hover {
					background-color: #2c2c2c;
					& > a {
						color: #fff;
					}
				}
			}
		}
	}

	// список сезонов в хедере
	& &__season,
	& &__schedule {
		position: relative;
		width: 86px;

		& > a::before {
			@include transition-hover;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			content: "";
			border: 7px solid transparent;
			border-top-color: #2c2c2c;
			opacity: 0;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover {
				& > a::before {
					opacity: 1;
				}

				.header-nav-submenu {
					display: block;
				}
			}
		}

		.header-nav-submenu {
			@include transition-hover;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			z-index: 100;
			display: none;
			padding-top: 16px;

			ul {
				@include flex;
				@include flex-direction;
				@include rounded;
				width: 100%;
				border: 1px solid #333;
				margin: 0;
				background-color: $color-black;
			}

			li {
				padding: 0;

				&:not(:last-child) {
					border-bottom: 1px solid #333;
				}

				a {
					@include transition-hover;
					display: block;
					padding: 13px 17px;
					font-size: 14px;
					line-height: 1.3;
					text-align: center;
				}

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					&:hover {
						background-color: $color-black;

						a {
							color: $color-primary;
						}
					}
				}
			}
		}
	}

	// распиание в хедере
	& &__schedule {
		position: relative;
		width: 257px;

		& > a::before {
			left: 18px;
			transform: translateX(0);
		}

		.header-nav-submenu {
			li {
				padding: 13px 17px;
				font-size: 14px;
				line-height: 1.3;

				div {
					@include flex;
					@include justify-content;
				}

				span {
					@include flex;
					@include align-items;

					&:first-child {
						@include flex-col(135px);
						border-right: 1px solid #333;
						transition: border .25s ease-in-out;
					}

					&:last-child {
						@include flex-col(auto);
						padding-left: 15px;
						color: #fff;
					}
				}

				&.header-nav-submenu__item_active {
					pointer-events: none;

					span {
						color: $color-primary;

						&:first-child {
							border-right-color: $color-primary;
						}
					}
				}
			}
		}
	}
}

.header-timer {
	@include flex;
	@include align-items;
	user-select: none;

	&__title {
		font-size: 14px;
		line-height: 1.3;
		color: #4f4f4f;
		margin-right: 8px;
		position: relative;
		top: -7px;
	}

	&-wrap {
		@include flex;
		@include align-items;
	}

	&-item {
		@include flex;
		@include flex-direction;
		margin: 0px 4px;

		& > span {
			display: inline-block;
			margin-top: 4px;
			text-align: center;
			font-size: 12px;
			line-height: 1.3;
			color: $color-primary;
			opacity: .6;
		}
	}

	&__count {
		@include flex;
		@include align-items;
		margin: 0 -1px;

		span {
			@include flex-center;
			position: relative;
			top: 2px;
			margin: 0px 1px;
			width: 15px;
			color: $color-primary;
			font-family: $bebas-font;
			font-size: 18px;
			line-height: 1;

			&::before {
				@include rounded(1px);
				user-select: none;
				background-color: #000;
				width: 15px;
				height: 25px;
				content: "";
				position: absolute;
				top: calc(50% - 1px);
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}
	}
}

.m-header-bar {
	position: fixed;
	bottom: 0;
	user-select: none;
	display: none;
	background-color: #000;
	padding: 12px 8px 12px 0;
	z-index: 1500;

	@include mq("sm") {
		padding: 4px 8px 2px 0;
	}

	&-wrap {
		@include flex;
	}

	&-nav {
		@include flex;
		@include align-items;
		flex-grow: 1;

		ul {
			@include flex;
			@include justify-content(space-evenly);
			width: 100%;
			list-style: none;
			padding: 0;
			margin: 0;

			a {
				@include transition-active;
				display: block;
				padding-left: 7px;
				padding-right: 7px;
				text-decoration: none !important;

				& > * {
					display: block;
					text-align: center;
					line-height: 1;
				}

				i {
					font-size: 17px;
					color: $color-title;
				}

				span {
					margin-top: 5px;
					font-size: 10px;
					color: rgba(196, 196, 196, .6);
				}

				&.active,
				&:active {
					i, span {
						color: $color-primary !important
					}
				}
			}
		}
	}

	.header-timer {
		@include flex-direction;
		user-select: none;

		&__title {
			font-size: 10px;
			margin-bottom: 4px;
			margin-right: 0;
			top: 0;
		}

		&-item {
			@include flex;
			@include flex-direction;
			margin: 0px 3px;

			& > span {
				font-size: 10px;
				line-height: 1.3;
				color: #4f4f4f;
				opacity: 1;
				text-align: center;
			}
		}

		&__count {
			span {
				width: 15px;

				&::before {
					height: 20px;
					width: 15px;
					background-color: $color-main-bg;
				}
			}
		}
	}
}

@include mq("xl") {
	.header {
		position: static;
		padding-top: 12px;
		padding-bottom: 15px;

		.header-logo {
			margin-left: auto;
			margin-right: auto;
		}

		.header-nav,
		.header-timer {
			display: none;
		}
	}

	.m-header,
	.m-header-bar {
		display: block;
	}

	body {
		padding-bottom: 56px;
	}
}

.roll-mobile {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		&:not(:last-child) {
			margin-bottom: 5px;
		}

		a {
			@include flex-center;
			@include transition-active;
			font-size: 16px;
			padding: 12px 35px;
			background-color: $color-black;
			text-decoration: none !important;
			color: #c4c4c4;
			border: 1px solid transparent;

			&:active {
				color: $color-primary;
				border-top-color: $color-primary;
				border-bottom-color: $color-primary;
			}
		}
	}

	&-schedule {
		li {
			font-size: 16px;
			padding: 12px 35px;
			background-color: $color-black;
			text-decoration: none !important;
			color: #c4c4c4;
			border: 1px solid transparent;

			div {
				@include flex;
				@include align-items;
				height: 53px;
				max-width: 280px;
				margin: 0 auto;
			}

			span {
				&:first-child {
					@include transition-active;
					@include flex;
					@include align-items;
					height: 100%;
					flex-grow: 1;
					color: #828282;
					border-right: 1px solid #333;
					padding-right: 30px;
					transition: border .25s ease-in-out;
				}

				&:last-child {
					@include flex-col(105px);
					text-align: right;
					color: rgba($color: #fff, $alpha: 0.8);
				}
			}
			&:first-child {
				border-top-color: $color-primary;
				border-bottom-color: $color-primary;
	
				span {
					color: $color-primary;
	
					&:first-child {
						border-right-color: $color-primary;
					}
				}
			}
		}
	}
}