.modal {
	display: none;
}

.modal-container {
	&.modal_type_video {
		.modal-content {
			padding-top: 56.2%;
			position: relative;
			margin-top: -5px;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&.modal_type_gallery {
		.swiper-slide {
			padding-top: 56.52%;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			background-position: center;
		}
	}
}

.swal2 {
	&-popup {
		background-color: transparent;
		padding: 0;
		@include rounded(0);
		width: 100%;
		max-width: 810px;

		&.swal2-gallery {
			width: 75%;
			max-width: 1100px;

			@include mq("md") {
				width: 100%;
			}

			.swal2-close {
				right: -60px;

				@include mq("xl") {
					right: 50%;
					transform: translateX(50%);
				}
			}
		}
	}

	&-header {
		position: relative;
	}

	&-container.swal2-backdrop-show {
		background: rgba(0,0,0,.8);
	}
	
	&-close {
		width: 40px;
		height: 40px;
		font-size: 40px;
		top: -98px;
		right: -100px;
		@include transition-hover;

		&:hover {
			transform: inherit;
			background: inherit;
			color: $color-primary;
		}

		@include mq("xl") {
			@include rounded(50%);
			width: 50px;
			height: 50px;
			right: 50%;
			transform: translateX(50%);
			color: #fff;
			font-size: 18px;
			background-color: #4f4f4f;

			&:hover {
				background-color: #4f4f4f;
				color: $color-primary;
			}
		}
	}
}