$width-item: 40px;

.pagination {
	overflow: visible;

	.touch & {
		overflow: hidden;
		width: 480px;
		margin-left: auto;
		margin-right: auto;

		@include mq("md") {
			width: 270px;
		}
	}

	.pagination__elements {
		@include flex;
		@include justify-content;
		list-style: none;
		padding: 0;
		margin: 0px -10px;

		.touch & {
			@include justify-content(flex-start);
			margin: 0px;
		}

		.pagination__item {
			margin-left: 10px;
			margin-right: 10px;
			width: auto;
			height: $width-item;

			.touch & {
				@include flex;
				@include justify-content;
				@include align-items;
				width: 100%;
				margin: 0;
			}

			a {
				@include rounded;
				@include transition-active;
				box-sizing: border-box;
				user-select: none;
				border: 1px solid #c4c4c4;
				display: inline-block;
				background-color: transparent;
				width: $width-item;
				height: $width-item;
				line-height: $width-item;
				letter-spacing: 0.06em;
				font-size: 22px;
				color: #c4c4c4;
				font-family: $bebas-font;
				text-align: center;

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					@include transition-hover;

					&:hover {
						text-decoration: none;
						border-color: $color-primary;
						color: $color-primary;
					}
				}

				&:active {
					text-decoration: none;
					border-color: $color-primary;
					color: $color-primary;
				}
			}

			.touch & {
				a {
					border: 1px solid #828282;
					color: #828282;
				}
			}

			.touch &.swiper-slide-next,
			.touch &.swiper-slide-prev {
				a {
					border: 1px solid #dbdbdb;
					color: #dbdbdb;
				}
			}

			.touch &.swiper-slide-active {
				a {
					border-color: $color-primary;
					color: $color-primary;
				}
			}

			&.checked {
				a {
					text-decoration: none;
					background-color: $color-primary;
					border-color: $color-primary;
					color: #333 !important;
					pointer-events: none;
				}
			}
		}
	}
}