.player {
	&-wrap {
		background-color: #000000;
		height: 400px;
		position: relative;

		@include mq("md") {
			height: 300px;
		}

		@include mq("sm") {
			height: 170px;
		}
	}

	&__episode-release {
		user-select: none;
		position: absolute;
		top: 20px;
		left: -6px;
		padding: 2px 13px 2px 9px;
		background-color: $color-primary;
		font-size: 14px;
		text-transform: lowercase;
		color: #101010;
		border-radius: 1px;

		@include mq("md") {
			display: none;
		}
	}

	&-nav {
		@include flex;
		@include justify-content(space-between);
		margin-top: 8px;

		a {
			@include transition-active;
			@include flex-center;
			font-style: 18px;
			color: #c4c4c4;
			text-decoration: none !important;

			@include mq("md") {
				font-size: 13px;
			}

			i {
				font-size: 14px;
				margin-right: 10px;
				position: relative;
				top: 1px;

				@include mq("md") {
					font-size: 10px;
					margin-right: 7px;
				}
			}

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				@include transition-hover;

				&:hover {
					color: $color-primary;
				}
			}
			
			&:active {
				color: $color-primary;
			}
		}

		& &__next {
			i {
				margin-right: 0;
				margin-left: 10px;

				@include mq("md") {
					margin-right: 0;
					margin-left: 7px;
				}
			}
		}

	}
}