.rating {
	@include flex;
	@include align-items;

	&__title {
		margin-right: 23px;
		position: relative;
		top: -2px;
	}

	&-wrap {
		@include flex;
		margin: 0 -3px;
	}

	&__star {
		a {
			@include transition-active;
			padding: 0px 3px;
			font-size: 18px;
			color: #c4c4c4;
			opacity: 0.5;
			text-decoration: none !important;
		}

		&_hover,
		&_checked {
			a {
				color: #e0e0e0;
				opacity: 1;
			}
		}
	}
}