/**************************\
  Basic roll Styles
\**************************/

.roll {
  z-index: 1000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	transition: all .5s ease-in-out;

	@include mq("xl") {
		margin-bottom: 52px;
	}

	&_direction_to-top {
		top: 100%;
	}

	&__container {
		background-color: $color-main-bg;
		padding: 12px 0;
		max-width: 100%;
		height: calc(100vh - 52px);
		overflow-y: auto;
		box-sizing: border-box;
	}

	&__header {
		@include flex-center;
		@include flex-direction;

		.roll-logo {
			margin-bottom: 20px;
		}

		.roll__title {
			@include flex-center;
		}
	}

	&__close {
		background: transparent;
		border: none;
		color: #8b8b8b;
		opacity: .5;
		outline: none;
		padding: 3px;
		margin-left: 9px;
		position: relative;
		top: -2px;

		i {
			pointer-events: none;
		}
	}

	&__content {
		margin-top: 15px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}