.select-episodes {
	@include flex;
	background: #101010;
	position: relative;
	margin-top: 12px;
	margin-bottom: 13px;

	&::after {
		background-color: #1E1E1E;
		position: absolute;
		left: 50%;
		top: 3px;
		bottom: 3px;
		pointer-events: none;
		content: "";
		width: 1px;
	}

	.select-wrap {
		position: relative;
		flex-basis: 50%;

		&::after {
			pointer-events: none;
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\e910";
			position: absolute;
			top: 55%;
			right: 20px;
			transform: translate(50%, -50%);
			font-size: 8px;
		}

		select {
			font-family: $pt-sans-font;
			width: 100%;
			background-color: transparent;
			appearance: none;
			border: none;
			color: $color-text;
			font-weight: 700;
			padding: 14px 30px 14px 13px;
			font-size: 16px;
			outline: none;
		}
	}
}