.short-about {
	@include flex;
	margin-bottom: 15px;

	&__poster {
		@include flex-col(250px);
		margin-top: 4px;

		@include mq("md") {
			margin-top: 0px;
			@include flex-col(42.6%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: top;
		}
	}

	&__text {
		@include mq("xl") {
			@include flex;
			@include flex-col(50%);
			@include flex-direction;
			@include justify-content(space-between);
			padding-bottom: 1px;
		}
	}

	&__characteristic {
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 15px;

		@include mq("xl") {
			margin-right: 15px;
			margin-left: 15px;
			margin-bottom: 0;
		}

		span {
			display: block;
			color: #d1d1d1;

			@include mq("xl") {
				color: #fff;
			}
		}

		.caption-16 {
			color: #747474;

			@include mq("xl") {
				display: none;
			}
		}
	}
}