.tabs {
	.tabs-list {
		@include flex;
		border-top: 1px solid #000;
		margin: 0 0 12px 0;

		.tabs-list__item {
			display: inline-block;
			position: relative;

			&::before {
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;
				content: "";
				display: inline-block;
				border-top: 4px solid transparent;
				@include transition-hover;
			}

			&:not(:last-child) {
				margin-right: 48px;
			}

			a {
				@include transition-active;
				color: rgba($color: #fff, $alpha: .7);
				display: inline-block;
				padding-top: 10px;
				padding-bottom: 10px;
				text-decoration: none;
				font-size: 18px;

				@include mq("md") {
					font-size: 16px;
				}

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					@include transition-hover;

					&:hover {
						color: $color-primary;
					}
				}

				&:active {
					color: $color-primary;
				}
			}

			&_active {
				a {
					color: #fff;
				}

				&::before {
					border-top-color: $color-primary;
				}
			}
		}
	}
	.tabs-content {
		.tabs-content-wrap {
			display: none;

			&_active {
				display: block;
			}
		}
	}
}