.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.fast {
	animation-duration: 500ms;
}

.animated.slow {
	animation-duration: 2s;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 25%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, -25%, 0);
	}
}

.fadeOutUp {
	animation-name: fadeOutUp;
}