[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
	content: "\e910";
}

.icon-chevron-small-left:before {
	content: "\e900";
}

.icon-chevron-small-right:before {
	content: "\e90d";
}

.icon-chevron-right:before {
	content: "\e90e";
}

.icon-chevron-left:before {
	content: "\e90f";
}

.icon-close:before {
	content: "\e90c";;
}

.icon-count:before {
	content: "\e908";
}

.icon-home:before {
	content: "\e909";
}

.icon-calendar:before {
	content: "\e90a";
}

.icon-info:before {
	content: "\e90b";
}

.icon-next:before {
	content: "\e905";
}

.icon-prev:before {
	content: "\e906";
}

.icon-all-series:before {
	content: "\e907";
}

.icon-star:before {
	content: "\e901";
}

.icon-edit:before {
	content: "\e902";
}

.icon-sort:before {
	content: "\e903";
}

.icon-play:before {
	content: "\e904";
}