// Flex
@mixin flex() {
	display: flex;
}

@mixin flex-direction($direction: column) {
	flex-direction: $direction;
}

@mixin flex-wrap($wrap: wrap) {
	flex-wrap: $wrap;
}

@mixin align-items($align: center) {
	align-items: $align;
}

@mixin justify-content($justify: center) {
	justify-content: $justify;
}

@mixin flex-center() {
	@include flex;
	@include align-items;
	@include justify-content;
}

@mixin flex-col($width) {
	flex: 0 0 $width;
	@if $width == 'auto' {
		max-width: 100%;
	} @else {
		max-width: $width;
	}
}

// Rotations
@mixin rotate($degree: -90deg) {
	transform: rotate($degree);
}

// Rounded corners
@mixin rounded($radius: 2px) {
	border-radius: $radius;
}

@mixin rounded-bottom($radius: 2px) {
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin rounded-left($radius: 2px) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin rounded-right($radius: 2px) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin rounded-top($radius: 2px) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

// Shadows
@mixin shadow($x: 0px, $y: 4px, $smooth: 8px, $color: rgba(131, 131, 131, 0.25) ) {
	box-shadow: $x $y $smooth $color;
}

@mixin shadow-picture($x: 12px, $y: 4px, $smooth: 28px, $color: rgba(0, 0, 0, 0.72) ) {
	box-shadow: $x $y $smooth $color;
}

@mixin shadow-none {
	box-shadow: none !important;
}

// Transition
@mixin transition-active {
	transition: all .1s;
}

@mixin transition-hover {
	transition: all .25s ease-in-out;
}

// img cover
@mixin img-container($height) {
	position: relative;
	overflow: hidden;
	padding-top: $height;

	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

// Media queries
$breakpoints_width: (
	"iPhone5" : 321px,
	"sm" : 576px,
	"md" : 768px,
	"lg" : 992px,
	"xl" : 1025px,
	"xxl": 1200px
);

$breakpoints_height: (
	"xs" : 0,
	"sm" : 576px,
	"md" : 768px,
	"lg" : 992px
);

@mixin mq($size, $type: max) {
	@if map_has_key($breakpoints_width, $size) {
		$width: map_get($breakpoints_width, $size);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}