@font-face {
	font-family: 'BebasNeue';
	font-display: swap;
	src: url('./../fonts/BebasNeue/BebasNeueBold.eot');
	src: url('./../fonts/BebasNeue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/BebasNeue/BebasNeueBold.svg#BebasNeueBold') format('svg'),
		url('./../fonts/BebasNeue/BebasNeueBold.ttf') format('truetype'),
		url('./../fonts/BebasNeue/BebasNeueBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon/icomoon.eot?g6d8spq');
  src:  url('./../fonts/icomoon/icomoon.eot?g6d8spq#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon/icomoon.ttf?g6d8spq') format('truetype'),
    url('./../fonts/icomoon/icomoon.woff?g6d8spq') format('woff'),
    url('./../fonts/icomoon/icomoon.svg?g6d8spq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import './icons';

html {
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	color: $color-text;
	font-family: $pt-sans-font;
	font-size: 17px;
}

body {
	background-color: $color-main-bg;
	color: $color-text;
	font-family: $pt-sans-font;
	font-size: 17px;
	line-height: 1.4;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;

	@include mq('md') {
		font-size: 15px;
		line-height: 1.33;
	}
}

a {
	color: $color-primary;
	cursor: pointer;
	text-decoration: none;

	@media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0){
		&:hover:not(.button) {
			text-decoration: underline;
		}
	}

	&:active:not(.button) {
		text-decoration: underline;
	}
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: #eee;
	font-family: $bebas-font;
	margin: 0;
	letter-spacing: 0.06em;
}

h1, .h1 {
	font-size: 42px;
	line-height: 1.14;
	font-weight: 700;

	@include mq('md') {
		font-size: 28px;
		line-height: 1.2;
	}
}

h2, .h2 {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;

	@include mq('md') {
		font-size: 24px;
	}
}

h3, .h3 {
	font-size: 30px;
	line-height: 1.4;
	font-weight: 700;

	@include mq('md') {
		font-size: 20px;
		line-height: 1.2;
	}
}

h4, .h4 {
	font-size: 24px;
	font-weight: 700;

	@include mq('md') {
		font-size: 18px;
		line-height: 1.2;
	}
}

h5, .h5 {
	font-size: 20px;
	font-weight: 700;

	@include mq('md') {
		font-size: 18px;
		line-height: 1.2;
	}
}

h6, .h6 {
	font-size: 18px;
	font-weight: 700;

	@include mq('md') {
		font-size: 16px;
		line-height: 1.2;
	}
}

p {
	margin: 0 0 $space 0;

	&:last-child {
		margin: 0;
	}
}

.caption-18 {
	font-size: 18px;
	line-height: 1.28;
	color: #fff;
}

.caption-16 {
	font-size: 16px;
	color: #8b8b8b;
}

small, .small {
	font-size: 80%;
}

.uppercase {
	text-transform: uppercase;
}

.bold, .strong,
b, strong {
	font-weight: 700;
}