// Colors
$color-primary				: #06c6fa;
$color-black					: #101010;
$color-main-bg				: #181818;
$color-light-gray			: #e0e0e0;
$color-gray						: #bdbdbd;
$color-dark-gray			: #828282;

$color-text						: #bdbdbd;
$color-title					: #fff;

// Fonts
$pt-sans-font	: 'PT Sans', sans-serif;
$bebas-font		: 'BebasNeue', cursive;

$space: 10px;