.category-page {
	.pagination {
		margin-top: 20px;
		margin-bottom: 32px;
	}

	.catalog {
		.catalog__button-sort {
			display: none;
		}
	
		@include mq("xl") {
			.catalog__button-sort {
				@include flex;
				margin-bottom: 15px;
			}
		}
	}

	.category-slider {
		position: relative;
		margin-top: 60px;

		.category-slider-info {
			position: absolute;
			max-width: 375px;
			top: 115px;
			left: 0;
			z-index: 2;

			&__title {
				span {
					color: #8c8c8c;
				}
			}
		}

		.category-slider-carousel {
			position: relative;
			z-index: 1;
			margin-left: 250px;

			@include mq("xl", "min") {
				.button-arrow {
					font-size: 22px;
					width: 51px;
					height: 85px;
				}
			}
		}

		@include mq("xl") {
			margin-top: 30px;
			margin-bottom: 20px;

			.category-slider-info {
				position: relative;
				max-width: 100%;
				top: 0;
				margin-bottom: 18px;
				text-align: center;
			}

			.category-slider-carousel { 
				margin-left: 0;
			}
		}
	}

	.category-serial-info {
		margin-top: 10px;
		position: relative;
	
		&-trailer {
			position: absolute;
			width: 249px;
	
			display: inline-block;
	
			&__image {
				@include img-container(65.86%);

				img {
					@include transition-hover;
					opacity: .8;
				}

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					&:hover {
						img {
							opacity: 1;
							transform: translate(-50%, -50%) scale(1.1);
						}
					}
				}
			}
	
			i {
				@include transition-hover;
				color: $color-light-gray;
				font-size: 30px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-left: 1%;
				pointer-events: none;
			}
	
			span {
				pointer-events: none;
				user-select: none;
				position: absolute;
				bottom: 0;
				left: 0;
				transform-origin: center left;
				transform: rotateZ(-90deg) translateY(3px);
				z-index: 1;
			}
		}
	
		&__text {
			padding-top: 135px;
			margin-left: 280px;
		}
	
		&__trailer-button {
			display: none;
		}
	
		@include mq("xl") {
			&-trailer {
				display: none;
			}
		
			&__text {
				padding-top: 0;
				margin-top: 32px;
				margin-left: 0;
			}
		
			&__trailer-button {
				@include flex;
			}
		}

		@include mq("md") {
			&__text {
				margin-top: 16px;
			}
		}
	}
}