.episode-page {
	.page-title {
		@include flex;
		@include align-items(flex-start);


		h1 {
			padding-left: 70px;
			padding-right: 70px;
			
			@include mq("xl") {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.content-edit {
			background-color: transparent;
			border: none;
			color: $color-primary;
			margin: 15px 0 0 0;
			font-size: 15px;
			outline: none;

			@include mq("xl") {
				margin-top: 5px;
			}
		}
	}

	.episode-sounds {
		.tabs-list {
			margin-bottom: 5px;

			.swiper-slide {
				width: auto;
			}
		}
	}

	.episode-info {
		position: relative;
		margin-top: 35px;
		padding-right: 200px;
	
		@include mq("xl") {
			padding-right: 0;
			margin-top: 15px;
		}
	
		&__characteristics {
			color: #8d8d8d;
			font-size: 16px;
	
			span {
				display: block;
			}
		}
	
		&__description {
			margin-top: 10px;
			color: $color-text
		}
	
		.rating {
			position: absolute;
			top: 10px;
			right: 0;
	
			@include mq("xl") {
				width: calc(100% + 50px);
				position: relative;
				top: auto;
				left: auto;
				padding: 9px 25px;
				margin: 0 -25px 13px -25px;
				background-color: #000000;
			}

			@include mq("sm") {
				width: calc(100% + 24px);
				padding: 9px 12px;
				margin: 0 -12px 20px -12px;
			}
	
			.rating__title {
				display: none;
	
				@include mq("xl") {
					display: block;
				}
			}
		}
	}

	.episode-slider {
		position: relative;
		margin-top: 50px;

		.episode-slider-info {
			position: absolute;
			max-width: 375px;
			top: 115px;
			left: 0;
			z-index: 2;

			&__title {
				span {
					color: #8c8c8c;
				}
				@include mq("xl") {
					text-align: left;
				}
			}
		}

		.episode-slider-carousel {
			position: relative;
			z-index: 1;
			margin-left: 250px;

			@include mq("xl", "min") {
				.button-arrow {
					font-size: 22px;
					width: 51px;
					height: 85px;
				}
			}
		}

		@include mq("xl") {
			margin-top: 26px;

			.episode-slider-info {
				position: relative;
				max-width: 100%;
				top: 0;
				margin-bottom: 7px;
				text-align: center;

				span {
					display: none;
				}
			}

			.episode-slider-carousel { 
				margin-left: 0;
			}
		}
	}
}
