.main-page {
	.select-episodes,
	.show-first-episode {
		display: none;
	}

	@include mq("md") {
		.select-episodes {
			@include flex;
		}

		.show-first-episode {
			@include flex;
			margin-bottom: 26px;
		}

		.pagination {
			display: none !important;
		}
	}

	.mobile-short-info {
		display: none;
	
		@include mq("xl") {
			display: block;
		}
	}

	.tabs {
		#description {
			padding-right: 190px;

			h3 {
				margin-top: 20px;
			}

			img {
				float: left;
				width: 310px;
				margin: 0 27px 12px 0;

				@include mq("md") {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			@include mq("xl") {
				padding-right: 0;
			}
		}

		.about {
			@include flex;

			@include mq("lg") {
				@include flex-direction;
				margin-bottom: -15px;
			}

			&-left {
				@include flex-col(420px);

				@include mq("xl") {
					display: none;
				}
			}

			&-right {
				-webkit-column-count: 3;
				-moz-column-count: 3;
				column-count: 3;
				margin-right: -20px;

				@include mq("xxl") {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
				}

				@include mq("xl") {
					margin-right: -12px;
					margin-left: -12px;
				}
			}

			&__characteristic {
				margin-right: 20px;
				margin-left: 20px;
				margin-bottom: 15px;
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid;

				@include mq("xl") {
					margin-right: 12px;
					margin-left: 12px;
				}

				span {
					display: block;
					color: #d1d1d1;
				}
	
				.caption-16 {
					color: #747474;
				}
			}
		}
	}
}

.tooltip-actor-photo {
	@include rounded;
	padding: 14px 16px;
	text-align: center;
	max-width: 180px;
	background: #000;
	border: 1px solid #353333;

	img {
		margin-bottom: 10px;
	}

	.caption-18 {
		color: #bdbdbd;
	}
}