.roll-mobile.roll-mobile-schedule
	ul
		li.roll-mobile-schedule__item
			div
				span cледующая: <br> 4 сезон 1 серия
				span 16 января
		li.roll-mobile-schedule__item
			div
				span 4 сезон 2 серия
				span 23 января
		li.roll-mobile-schedule__item
			div
				span 4 сезон 3 серия
				span 30 января