mixin roll(id, title, direction)
	.roll(id=id class="roll_direction_"+direction)
			.roll__container
				header.roll__header
					.roll-logo
						img.logo(src="images/logo.svg", alt="Riverdale")
					.roll__title
						h1 #{title}
						button.roll__close
							i.icon-close
				.roll__content
					block