mixin breadcrumbs(items)
	nav.breadcrumbs
		.container
			ul 
				li
					a(href="/") Riverdale.com
				each item, i in items
					li
						if i < (items.length - 1)
							a(href="/")= item
						else
							span= item