mixin category-short-item(imageEpisode, title, isPreview)
	li.catalog-short-item
		a(href="/episode.html")

			.catalog-short-item__img
				img(src=imageEpisode, alt=title)
				i.icon-play

			.catalog-short-item__header
				i.icon-play
				h4.catalog-short-item__title= title

			if isPreview
				.catalog-short-item__preview-label Превью