mixin category-item(imageEpisode, title, caption, description, isPreview)
	li.catalog-full-item
		a(href="/episode.html")

			.catalog-full-item__img
				img(src=imageEpisode, alt=title)
				i.icon-play

			if isPreview
				.catalog-full-item__preview-label Превью

			.catalog-full-item__header
				h4.catalog-full-item__title= title
				span.catalog-full-item__caption= caption

			.catalog-full-item__text
				p.catalog-full-item__description= description