mixin short-about
	.short-about
		.short-about__poster
			img(src="images/poster.jpg", alt="Riverdale")
		.short-about__text
			.short-about__characteristic
				span КиноПоиск — <strong>8.1</strong>
				span IMDb — <strong>7.6</strong>
			.short-about__characteristic
				span.caption-16 Страна
				span США
			.short-about__characteristic
				span.caption-16 Канал
				span Netflix
			.short-about__characteristic
				span.caption-16 Год выхода
				span 2019
			.short-about__characteristic
				span.caption-16 Кол-во сезонов
				span 4 сезона
			.short-about__characteristic
				span.caption-16 Статус сериала
				span Выходит