<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Категории
	body.category-page
		.wrap
			main
				include includes/header.pug
				include includes/header-mobile.pug

				.content
					.container
						.page-title
							h1 Мультсериал Звёздные войны: Войны клонов 3 сезон смотреть онлайн

						include includes/pagination.pug

						.catalog
							button.button.button_type_transparent.button_color_gray.button_full_width.catalog__button-sort
								i.icon-sort
								span Cортировать

							ul.catalog-list
								include mixins/category-item.pug
								each episode, index in [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
									+category-item(
										"./images/category/3-" + episode + ".jpg",
										"3 сезон " + episode + " серия",
										"«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»",
										"Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...",
										!index
									)

						.category-slider
							.category-slider-info
								.category-slider-info__title
									h1 Звёздные войны: Войны клонов 3 сезон
									span.caption-18 12 ноября 2019 • 8 серий 
							.category-slider-carousel
								include includes/slider.pug

						.category-serial-info
							a.category-serial-info-trailer(href="javascript:void(0);")
								.category-serial-info-trailer__image
									img(src="./images/trailer.jpg" alt="Трейлер сезона")
								i.icon-play
								span.h3 трейлер
							button.button.button_type_transparent.button_full_width.category-serial-info__trailer-button(data-modal-open="modal-trailer") Трейлер
							include mixins/modal.pug
							+modal("modal-trailer", "video")
								iframe(src="http://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" width="100%" height="100%")

							.category-serial-info__text
								h3 Информация о сериале
								p 
									| Небольшой городок, расположенный в глубинке Соединенных Штатов, до недавнего времени считался безопасным местом. Здесь редко происходят 
									| зверские прсетупления, поэтому обсуждать местному населению приходится только школьные вечера и покупки соседей. Однажды беззаботная жизнь 
									| провинции превращается в кошмар, когда происходит убийство старшеклассника. Четверка друзей старается провести независимое расследование и 
									| попытки разузнать имя преступника поднимают на поверхность правду, находящуюся много лет под запретом. Сериал Ривердейл 4 сезон смотреть онлайн 
									| будет довольно интересно, ведь Бетти, Арчи, Вероника и Джагхэд бесконечно попадают в сложные ситуации.
								p 
									| После очередных летних каникул ребят ждет заключительный год обучения в школе. Каждому из друзей предстоит определиться с планами на дальнейшее 
									| будущее. Арчи хочет примирения с Вероникой, хотя девушка отказывается строить серьезные отношения с бывшим парнем. Внезапная новость о близком 
									| родственнике отвлекает от любовных волнений героя и заставляет выпускника изменить планы. Тем временем двое жителей Riverdaile Бетти и Джагхэд 
									| наслаждаются приобретенным счастьем, хотя окружающие не одобряют образовавшуюся пару и на это имеются особенные причины.
								p 
									| Недавно друзьям удалось противостоять трудностям и доказать невиновность Арчи. Парнишка получает шанс вернуться домой и отправиться в учебное 
									| заведение вместе с остальными одноклассниками. Госпожа Судьба решает вновь испробовать крепкую компанию на прочность и подбрасывает героям «Ривердейл» 
									| четвертый сезон новые испытания. Внезапно для всех Джагхэд необъяснимым образом исчезает. Полиция отказывается приступать к поискам, пока не пройдет 
									| трое суток, считая, что подросток поругался с родными и решил исчезновением их проучить. Элизабетт удается организовать поиски и начать собственное 
									| расследование о причинах пропажи школьника, но ее любопытство открывает очередную тайну и жизнь мисс Купер новь в опасности. Чем же завершится история 
									| Джонса и какие проблемы ожидают героев, покажет четвертый сезон, который доступен в хорошем качестве.

			include mixins/breadcrumbs.pug
			+breadcrumbs(['3 сезон'])

			include includes/footer.pug