<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Эпизод
	body.episode-page
		.wrap
			main
				include includes/header.pug
				include includes/header-mobile.pug

				.content
					.container
						.page-title
							h1 Звёздные войны: Войны клонов 4 сезон 9 серия смотреть онлайн
							button.content-edit.icon-edit(style="display:none;")

						.tabs.episode-sounds
							.tabs-list.swiper-container(role="tablist")
								.tabs-list__slides.swiper-wrapper
									.swiper-slide
										.tabs-list__item.tabs-list__item_active(role="tab")
											a(href="#lostfilm") LostFilm 
									.swiper-slide
										.tabs-list__item(role="tab")
											a(href="#coldfilm") ColdFilm
									.swiper-slide
										.tabs-list__item(role="tab")
											a(href="#kerobtv") KerobTV
									.swiper-slide
										.tabs-list__item(role="tab")
											a(href="#original") Английская озвучка
							.tabs-content
								#lostfilm.tabs-content-wrap.tabs-content-wrap_active
									include includes/player.pug
								#coldfilm.tabs-content-wrap
									include includes/player.pug
								#kerobtv.tabs-content-wrap
									include includes/player.pug
								#original.tabs-content-wrap
									include includes/player.pug

						.episode-info
							include includes/rating.pug

							.episode-info-header
								h2.episode-info-header__title Описание Леденящие душу приключения Сабрины 4&nbsp;сезон 9&nbsp;серия

							.episode-info__characteristics
								span «Глава 66: Мандарин» / «Chapter Sixty-six: Tangerine»
								span Дата выхода: 12 декабря 2019
								span Продолжительность: 42 мин

							.episode-info__description
								p 
									| The Mandalorian поднимает и раскрывает очень важные социальные, личностные и этические проблемы через 
									| историю одинокого воина, имеющего за спиной огромный опыт побед и поражений, как и на поле боя, так и 
									| с самим собой. Герой является представителем расы благородных и смелых воинов, некогда установившим власть 
									| на определённой территории. Сейчас мандалорец ищет свой собственный путь на задворках галактики после крушения 
									| Империи. До этих мест ещё не добралась новая власть, и в обществе царит хаос и беспорядок. Мвндалорец 
									| вынужден проживать век в нищете среди отбросов общества, постоянно отстаивая и себя и свои ценности. 
									| Однажды слухи о молодом и отважном воине доходят до главы 

						.episode-slider
							.episode-slider-info
								.episode-slider-info__title
									h2 Кадры/превью к серии
									span.caption-18 4 сезон 9 серия 
							.episode-slider-carousel
								include includes/slider.pug

			include mixins/breadcrumbs.pug
			+breadcrumbs(['3 сезон', 'Ривердейл 3 сезон 21 серия смотреть онлайн!'])

			include includes/footer.pug