<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Главная
	body.main-page
		.wrap
			main
				include includes/header.pug
				include includes/header-mobile.pug

				.content
					.container
						.page-title
							h1 Мультсериал Звёздные войны: Войны клонов смотреть онлайн

						.season-list
							include includes/pagination.pug
							include includes/select-episodes.pug

						.catalog
							ul.catalog-list.catalog-list_short-items
								include mixins/category-short-item.pug
								each episode, index in [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9]
									+category-short-item(
										"./images/index/14-" + episode + ".jpg",
										"14 сезон " + episode + " серия",
										!index
									)
							
							.catalog__show-all
								button.button.button_type_transparent Показать все серии

						#about-serial
							include includes/banner.pug

							.mobile-short-info
								include mixins/short-about-serial.pug
								+short-about()

							button.button.button_full_width.show-first-episode 
								i.icon-play
								| смотреть с 1 серии

							.tabs
								.tabs-list(role="tablist")
									.tabs-list__item.tabs-list__item_active(role="tab")
										a(href="#description") Описание 
									.tabs-list__item(role="tab")
										a(href="#about") Подробнее о сериале
								.tabs-content
									#description.tabs-content-wrap.tabs-content-wrap_active
										include includes/tab-what-is-riverdale.pug

									#about.tabs-content-wrap
										include includes/tab-about-specifications.pug

			include includes/footer.pug