@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'base/normalize';
@import 'base/typography';
@import 'base/animate';

@import '../../node_modules/swiper/swiper';
@import '../../node_modules/swiper/components/effect-fade/effect-fade';
@import '../../node_modules/sweetalert2/src/sweetalert2';

@import 'tools/grid';


@import 'components/buttons';
@import 'components/dropdown';
@import 'components/tabs';
@import 'components/header';
@import 'components/catalog';
@import 'components/banner';
@import 'components/short-about-serial';
@import 'components/pagination';
@import 'components/breadcrumbs';
@import 'components/tooltip';
@import 'components/modal';
@import 'components/roll';
@import 'components/select-episodes';
@import 'components/custom-slider';
@import 'components/player';
@import 'components/rating';
@import 'components/footer';

@import 'pages/index';
@import 'pages/category';
@import 'pages/episode';

.wrap {
	@include flex;
	@include flex-direction;
	min-height: 100vh;

	main {
		flex-grow: 1;
	}
}

.content {
	margin-top: 25px;
	margin-bottom: 50px;
	
	@include mq("md") {
		margin-top: 10px;
		margin-bottom: 35px;
	}
}

.page-title {
	margin-bottom: 17px;

	h1 {
		text-align: center;
	}

	@include mq("md") {
		margin-bottom: 10px;
	}
}

@import 'pages/index';
@import 'pages/category';